%h1= @page_title

.notice{style: 'width: 60%'}
  Висота баннера повинна бути рівною 150 пікселів, а ширина достатньою, щоб заповнити місце на HD моніторах —
  бажано 1400 пікселів. При звуженні вікна браузера краї баннера обрізаються, постарайтесь розміщувати
  контент посередині.

= render 'form'
