-cache do
  #contacts
    %ul
      %li
        = phone_number_link '(0352) 42-53-84'
        %br
        = phone_number_link '067-351-04-79'
        %br
        = phone_number_link '094-974-13-84'
      %li
        =mail_to 'kinder-service@ukr.net'