%p
  Добрий день, #{@resource.email}.
%p
  Хтось (ми надіємось, що ви!) хоче змінити пароль до вашого акаунту на http://kinder-service.herokuapp.com .
  Для продовження нажміть на ссилку:
-#%p Someone has requested a link to change your password, and you can do this through the link below.
%p= link_to 'Змінити пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Якщо ж це були не ви, просто ігноруйте цей лист. Ваш пароль не буде змінений поки ви не перейдете по вищевказаній ссилці.
-#%p If you didn't request this, please ignore this email.
-#%p Your password won't change until you access the link above and create a new one.

-#todo Translate to ukrainian